:root{
    --color-scroll-top: rgb(9, 11, 18, 0.5);
    --color-menu: #000000;
    --color-main:#141922;
    --color-footer: #282828;
    --color-text: #797b81;
    --color-text-link: #adff2e;
}

body{
    background-color: var(--color-main) ;
    color: white;
}

.container-layout{
    height: 90vh;
    display: flex;
}

.music__options{
    height: 10vh;
    background-color: var(--color-footer);
    width: 100%;
    padding: 2px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout__sidebar{
    flex-basis: 10%;
    background-color: var(--color-menu);
    display: flex;
    flex-direction: column;
}

.layout__main{
    flex-basis: 90%;
    overflow: scroll;
}

.layout__main h2{
     margin-block: 20px;
     padding-inline: 10px;
}



.layout__scroll--top{
    background-color:var(--color-scroll-top);
    position: sticky;
    top: 0;
    text-align: right;
    padding: 20px;
    z-index: 1;
    font-size: 0.8rem;
}


.btn{
    border: 2px solid white;
}

.btn--pill{
    padding: 10px 20px;
    border-radius: 20px;
}

.layout__sidebar--top{
    height: calc(100% - 100px);

}

.layout__scroll--bottom{
    height: 100px;
}

.layout__sidebar--logos{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.layout__sidebar--logos img[alt$="big"]{
    display: none;

}

.layout__sidebar--menus ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.layout__sidebar--menus ul li a span{
    display: none;
}

.layout__sidebar--playlist{
    display: none;
}

.layout__sidebar--bottom a span,
.layout__sidebar--bottom hr{
    display: none;

}

.layout__sidebar--bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.layout__sidebar--bottom a [alt="foto profilo"]{
       border-radius:50% ;
       background-color: var(--color-text);
       width: 25px;
}

.layout__sidebar--bottom a [alt="download"]{
    width: 20px;
}

.layout__scroll--menu ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 0.6rem;
    margin-block: 10px;
}

.layout__main--songs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-inline: 20px;
}

.layout__main--songs .card{
    flex-basis: calc(100% / 2 - 10px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.layout__main--songs .card img{
    width: 100%;
}

.layout__main--songs .card h4{
    font-size: 0.7rem;
}

.layout__main--songs .card span{
    font-size: 0.5rem;
    color: var(--color-text);
}

.layout__main--personal-playlist{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
}

.layout__main--personal-playlist .card img{
    width: 60%;
}

.layout__main span{
   display: flex;
   color: var(--color-text);
   font-size: 0.8rem;
   margin-top: 10px;
   
}

.layout__main--popular-artists{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
}

.layout__main--popular-artists .card img{
    border-radius: 50%;
    width: 60%;
}

.layout__main--popular-artists h4{
    text-align: center;
    margin-top: 10px;
}

.music-left{
    display: flex;
    gap: 5px;
}

.music-left .cover-img{
    display: flex;
}

.cover-img img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    padding: 5px;
}

.like-icon {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}

.play-icons{
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
    

}

.line{
    display: flex;
    gap: 5px;
}

.line span{
    font-size: 10px;
}

.play-line{
    width: 100px;
    height: 5px;
    background-color: var(--color-text);
    position: relative;
}

.white-bar{
    width:50px;
    background-color: white;
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    left: 0;
}

.music-right{
    display: flex;
   
}

.volume-line{
    width: 50px;
    height: 5px;
    background-color: white;
}


